body {
  width: 100%!important;
}

html {
  width: 100%!important;
}

.link-light {
  color: gainsboro;
}

.link-light:hover {
  color: white;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.center {
  margin: auto!important;
  align:center!important;
  display: block!important;
}

.break-container{
  width:100vw!important;
  position:relative!important;
  left:calc(-1 * (100vw - 100%)/2);
}

body {
  width: 100%!important;
}

main {
    width: 100%!important;
}

.glowing-border {
    border: none!important;
}

.glowing-border:hover {
    border-radius: 7px;
    outline: none;
    border: 2px solid;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

h1, h2 {
  color: #2269b0;
}

#mc_embed_signup {
  clear: left;
}

.hover-on-underline:hover {
  text-decoration: underline!important;
}

/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
.asterisk {
  margin-left: 5px;
  color: red;
}

.center-on-small {
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
  text-align: center;
}


.fu {
  color: inherit;
  text-decoration: none;
}

/* Underline styles - details of technique here: https://nickymeuleman.netlify.app/blog/css-animated-wrapping-underline */
.fu {
  background:
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.fu:hover,
.fu:focus {
  background-size: 0 0.1em, 100% 0.1em;
}


.iframe-container {

  top: 100px;
  left: 0;
  right: 0;
   bottom: 0;
 }



.iframe-container iframe
{display: block;
  width: 100%;
  height: 100%;
  border: none;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
}
